# Note: Replace this with your Google Analytics webproperty-id. It looks
# something like UA-12345678-1. Be sure to include the "UA-"-part.
webproperty: UA-12345678-1

universal: false
universal_domainname: mycoolwebsite.com

# Turn on or off the backend statistics view
backend: true

# Turn the dashboard widget on or off
widget: true

# NOTE: the 'ga_profile_id' is _not_ the same as the 'webproperty'.
#
# Visit your Google Analytics page for your site, and look the displayed URL, e.g.
# https://www.google.com/analytics/web/?authuser=0#dashboard/default/a00000000w11111111p22222222/
#
# In this case the number after the 'p' is your ga_profile_id (22222222 above, yours will be different)
ga_profile_id: 

# Use the developers console and replace the values with your
# service account email, and absolute location of your key file.
# You can generate the needed details at https://console.developers.google.com
key_file:
service_account_email: 
