# Note: Replace this with your Google Analytics webproperty-id. It looks
# something like UA-12345678-1. Be sure to include the "UA-"-part.
webproperty:

universal: true
universal_domainname: mycoolwebsite.com

# Turn on or off the backend statistics view
backend: true

# Enable ip anonymization
anonymize_ip: false

# Turn the dashboard widget on or off
widget: false

# NOTE: the 'ga_profile_id' is _not_ the same as the 'webproperty'.
#
# Visit your Google Analytics page for your site, and look the displayed URL, e.g.
# https://www.google.com/analytics/web/?authuser=0#dashboard/default/a00000000w11111111p22222222/
#
# In this case the number after the 'p' is your ga_profile_id (22222222 above, yours will be different)
ga_profile_id:

# Use the developers console and replace the values with your service account email,
# and the filename of your `.p12` key file (should be placed in app/config/extensions/).
#
# You can generate the needed details at https://console.developers.google.com
key_file:
service_account_email:
